<div class="{{ class }}"{{ attrs|raw }}>
	{{ header|raw }}
	{% if body is not empty %}
		{% if body_wrap %}
			<div class="card-body">{{ body|raw }}</div>
		{% else %}
			{{ body|raw }}
		{% endif %}
	{% endif %}
	{{ footer|raw }}
</div>

